---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "{{ site.theme }}";

// add any custom styles here

// color variables
$primary-color: #546e7a;
$primary-light: #b0bec5;
$primary-dark: #37474f;

$secondary-color: #7a6054;
$secondary-light: #999999;
$secondary-dark: #333333;

$background-color: #f3f3eb;

.projects  {
    ul {
        list-style: none;
        padding: 0;
    }    
}

.btn {
        text-decoration: none;
        padding: 10px 20px;
        border: 1px solid $secondary-dark;
        border-radius: 15px;
        display: inline-block;
        box-shadow: 0 10px 4px rgba(0, 0, 0, 0.2);
    }
.btn:hover {
        transform: translateY(-3px);
    }

.site-header, .site-nav {
    background-color: $primary-color;

    .page-link, .site-title { 
        color: $primary-light
    }

}
.social-media-list, .username {
    .svg-icon {
        fill: $primary-light;
    }
    color: $primary-light
}

.site-footer, .footer-col-wrapper  {
    background-color: $secondary-dark;
    color: $primary-light
}

.page-content {
    p, h1, h2, h3, h4, h5, h6 {
        color: $primary-dark;
    }
    background-color: $background-color

}